button {
	width: 350px;
	height: auto;
	border-radius: 10000px;
	padding: 10px;
	margin: 10px;
	font-size: 40px;
	text-align: center;
	text-justify: center;
	box-shadow: 5px 5px 10px #000;
	border: none;
	color: black;
	background: linear-gradient(to right, #111, #fff);
	transition: 1s;
	cursor: pointer;
}

button:hover {
	box-shadow: none;
	color: #000;
	background: linear-gradient(to left,  #111, #fff);
}

.contenedorBoton { 
	width: 450px;
	height: auto;
	display: flex;
	padding: 20px;
}
